In [1]:
import requests

In [2]:
endpoint = "https://ll.thespacedevs.com/2.2.0/launch/previous/"
params = {
    "format": "json",
    "limit": 50
}

In [3]:
response = requests.get(endpoint, params=params)
response.status_code

200

In [4]:
response.url

'https://ll.thespacedevs.com/2.2.0/launch/previous/?format=json&limit=50'

In [5]:
url = f"https://ll.thespacedevs.com/2.2.0/launch/?format={params['format']}&limit={params['limit']}"
print(url)

https://ll.thespacedevs.com/2.2.0/launch/?format=json&limit=50

In [6]:
response_alt = requests.get(url)
response_alt.status_code

200

In [7]:
response.status_code

200

In [8]:
response.content[:2000]

b'{"count":6464,"next":"https://ll.thespacedevs.com/2.2.0/launch/previous/?format=json&limit=50&offset=50","previous":null,"results":[{"id":"576b04d6-1962-4bda-b43f-0da4138d192d","url":"https://ll.thespacedevs.com/2.2.0/launch/576b04d6-1962-4bda-b43f-0da4138d192d/?format=json","slug":"falcon-9-block-5-starlink-group-3-4","name":"Falcon 9 Block 5 | Starlink Group 3-4","status":{"id":3,"name":"Launch Successful","abbrev":"Success","description":"The launch vehicle successfully inserted its payload(s) into the target orbit(s)."},"last_updated":"2022-08-31T06:57:21Z","net":"2022-08-31T05:40:10Z","window_end":"2022-08-31T05:40:10Z","window_start":"2022-08-31T05:40:10Z","probability":null,"holdreason":"","failreason":"","hashtag":null,"launch_service_provider":{"id":121,"url":"https://ll.thespacedevs.com/2.2.0/agencies/121/?format=json","name":"SpaceX","type":"Commercial"},"rocket":{"id":7619,"configuration":{"id":164,"url":"https://ll.thespacedevs.com/2.2.0/config/launcher/164/?format=json","name":"Falcon 9","family":"Falcon","full_name":"Falcon 9 Block 5","variant":"Block 5"}},"mission":{"id":6117,"name":"Starlink Group 3-4","description":"A batch of 46 satellites for Starlink mega-constellation - SpaceX\'s project for space-based Internet communication system.","launch_designator":null,"type":"Communications","orbit":{"id":8,"name":"Low Earth Orbit","abbrev":"LEO"}},"pad":{"id":16,"url":"https://ll.thespacedevs.com/2.2.0/pad/16/?format=json","agency_id":null,"name":"Space Launch Complex 4E","info_url":null,"wiki_url":"","map_url":"http://maps.google.com/maps?q=34.632+N,+120.611+W","latitude":"34.632","longitude":"-120.611","location":{"id":11,"url":"https://ll.thespacedevs.com/2.2.0/location/11/?format=json","name":"Vandenberg SFB, CA, USA","country_code":"USA","map_image":"https://nyc3.digitaloceanspaces.com/spacelaunchnow-prod-east/media/launch_images/location_11_20200803142416.jpg","total_launch_count":702,"total_landing_count":6},"map_image":"https://nyc3.digitalocean'

In [9]:
data = response.json()

In [10]:
import time

In [11]:
time.sleep(2)

In [13]:
for offset in range(0, 300, 100):
    params = {
        "format": "json",
        "limit": 100,
        "offset": offset
    }
    requests.get(endpoint, params=params)
    time.sleep(2)

In [14]:
# next_url = data["next"]
# while next_url is not None:

In [15]:
result = data["results"]
type(result)

list

In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame(result)
df.head()

,id,url,slug,name,status,last_updated,net,window_end,window_start,probability,...,infographic,program,orbital_launch_attempt_count,location_launch_attempt_count,pad_launch_attempt_count,agency_launch_attempt_count,orbital_launch_attempt_count_year,location_launch_attempt_count_year,pad_launch_attempt_count_year,agency_launch_attempt_count_year
0,576b04d6-1962-4bda-b43f-0da4138d192d,https://ll.thespacedevs.com/2.2.0/launch/576b0...,falcon-9-block-5-starlink-group-3-4,Falcon 9 Block 5 | Starlink Group 3-4,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-08-31T06:57:21Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,NaN,...,None,[],6279.0,702,96,191,115.0,9,9,39
1,67158b3c-201d-4450-be8a-990010c05b40,https://ll.thespacedevs.com/2.2.0/launch/67158...,falcon-9-block-5-starlink-group-4-23,Falcon 9 Block 5 | Starlink Group 4-23,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-08-31T03:19:23Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,60.0,...,None,[],6278.0,855,151,190,114.0,25,18,38
2,a0d642d9-19ea-487d-8821-40c6f83e712f,https://ll.thespacedevs.com/2.2.0/launch/a0d64...,long-march-2d-beijing-3b,Long March 2D | Beijing-3B,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-08-31T03:35:50Z,2022-08-24T03:01:00Z,2022-08-24T03:31:00Z,2022-08-24T02:53:00Z,NaN,...,None,[],6277.0,112,37,382,113.0,8,6,29
3,5bdce7b6-0b8f-4df3-979e-3560654f9fe2,https://ll.thespacedevs.com/2.2.0/launch/5bdce...,kuaizhou-1a-chuangxin-16,Kuaizhou-1A | Chuangxin-16,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-08-31T03:16:26Z,2022-08-23T02:36:00Z,2022-08-23T02:44:00Z,2022-08-23T02:24:00Z,NaN,...,None,[],6276.0,175,21,17,112.0,8,1,2
4,4a114237-e8c5-4248-8d30-7a9026b86430,https://ll.thespacedevs.com/2.2.0/launch/4a114...,falcon-9-block-5-starlink-group-4-27,Falcon 9 Block 5 | Starlink Group 4-27,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-08-31T03:11:43Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,70.0,...,None,[],6275.0,854,150,189,111.0,24,17,37

In [18]:
df_better = pd.json_normalize(result)
df_better.head()

,id,url,slug,name,last_updated,net,window_end,window_start,probability,holdreason,...,pad.location.url,pad.location.name,pad.location.country_code,pad.location.map_image,pad.location.total_launch_count,pad.location.total_landing_count,pad.map_image,pad.total_launch_count,pad.orbital_launch_attempt_count,mission
0,576b04d6-1962-4bda-b43f-0da4138d192d,https://ll.thespacedevs.com/2.2.0/launch/576b0...,falcon-9-block-5-starlink-group-3-4,Falcon 9 Block 5 | Starlink Group 3-4,2022-08-31T06:57:21Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,NaN,,...,https://ll.thespacedevs.com/2.2.0/location/11/...,"Vandenberg SFB, CA, USA",USA,https://nyc3.digitaloceanspaces.com/spacelaunc...,702,6,https://nyc3.digitaloceanspaces.com/spacelaunc...,96,96,NaN
1,67158b3c-201d-4450-be8a-990010c05b40,https://ll.thespacedevs.com/2.2.0/launch/67158...,falcon-9-block-5-starlink-group-4-23,Falcon 9 Block 5 | Starlink Group 4-23,2022-08-31T03:19:23Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,60.0,,...,https://ll.thespacedevs.com/2.2.0/location/12/...,"Cape Canaveral, FL, USA",USA,https://nyc3.digitaloceanspaces.com/spacelaunc...,855,24,https://nyc3.digitaloceanspaces.com/spacelaunc...,151,150,NaN
2,a0d642d9-19ea-487d-8821-40c6f83e712f,https://ll.thespacedevs.com/2.2.0/launch/a0d64...,long-march-2d-beijing-3b,Long March 2D | Beijing-3B,2022-08-31T03:35:50Z,2022-08-24T03:01:00Z,2022-08-24T03:31:00Z,2022-08-24T02:53:00Z,NaN,,...,https://ll.thespacedevs.com/2.2.0/location/19/...,"Taiyuan, People's Republic of China",CHN,https://nyc3.digitaloceanspaces.com/spacelaunc...,112,0,https://nyc3.digitaloceanspaces.com/spacelaunc...,37,37,NaN
3,5bdce7b6-0b8f-4df3-979e-3560654f9fe2,https://ll.thespacedevs.com/2.2.0/launch/5bdce...,kuaizhou-1a-chuangxin-16,Kuaizhou-1A | Chuangxin-16,2022-08-31T03:16:26Z,2022-08-23T02:36:00Z,2022-08-23T02:44:00Z,2022-08-23T02:24:00Z,NaN,,...,https://ll.thespacedevs.com/2.2.0/location/16/...,"Xichang Satellite Launch Center, People's Repu...",CHN,https://nyc3.digitaloceanspaces.com/spacelaunc...,175,0,https://nyc3.digitaloceanspaces.com/spacelaunc...,21,21,NaN
4,4a114237-e8c5-4248-8d30-7a9026b86430,https://ll.thespacedevs.com/2.2.0/launch/4a114...,falcon-9-block-5-starlink-group-4-27,Falcon 9 Block 5 | Starlink Group 4-27,2022-08-31T03:11:43Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,70.0,,...,https://ll.thespacedevs.com/2.2.0/location/12/...,"Cape Canaveral, FL, USA",USA,https://nyc3.digitaloceanspaces.com/spacelaunc...,855,24,https://nyc3.digitaloceanspaces.com/spacelaunc...,151,150,NaN

In [19]:
df.columns

Index(['id', 'url', 'slug', 'name', 'status', 'last_updated', 'net',
       'window_end', 'window_start', 'probability', 'holdreason', 'failreason',
       'hashtag', 'launch_service_provider', 'rocket', 'mission', 'pad',
       'webcast_live', 'image', 'infographic', 'program',
       'orbital_launch_attempt_count', 'location_launch_attempt_count',
       'pad_launch_attempt_count', 'agency_launch_attempt_count',
       'orbital_launch_attempt_count_year',
       'location_launch_attempt_count_year', 'pad_launch_attempt_count_year',
       'agency_launch_attempt_count_year'],
      dtype='object')

In [20]:
df_better.columns

Index(['id', 'url', 'slug', 'name', 'last_updated', 'net', 'window_end',
       'window_start', 'probability', 'holdreason', 'failreason', 'hashtag',
       'webcast_live', 'image', 'infographic', 'program',
       'orbital_launch_attempt_count', 'location_launch_attempt_count',
       'pad_launch_attempt_count', 'agency_launch_attempt_count',
       'orbital_launch_attempt_count_year',
       'location_launch_attempt_count_year', 'pad_launch_attempt_count_year',
       'agency_launch_attempt_count_year', 'status.id', 'status.name',
       'status.abbrev', 'status.description', 'launch_service_provider.id',
       'launch_service_provider.url', 'launch_service_provider.name',
       'launch_service_provider.type', 'rocket.id', 'rocket.configuration.id',
       'rocket.configuration.url', 'rocket.configuration.name',
       'rocket.configuration.family', 'rocket.configuration.full_name',
       'rocket.configuration.variant', 'mission.id', 'mission.name',
       'mission.description', 'mission.launch_designator', 'mission.type',
       'mission.orbit.id', 'mission.orbit.name', 'mission.orbit.abbrev',
       'pad.id', 'pad.url', 'pad.agency_id', 'pad.name', 'pad.info_url',
       'pad.wiki_url', 'pad.map_url', 'pad.latitude', 'pad.longitude',
       'pad.location.id', 'pad.location.url', 'pad.location.name',
       'pad.location.country_code', 'pad.location.map_image',
       'pad.location.total_launch_count', 'pad.location.total_landing_count',
       'pad.map_image', 'pad.total_launch_count',
       'pad.orbital_launch_attempt_count', 'mission'],
      dtype='object')

In [21]:
df_better["launch_service_provider.name"].value_counts()

SpaceX                                                16
China Aerospace Science and Technology Corporation    11
Equatorial Launch Australia                            3
Rocket Lab Ltd                                         3
Indian Space Research Organization                     2
United Launch Alliance                                 2
Russian Space Forces                                   2
ExPace                                                 2
Galactic Energy                                        1
Blue Origin                                            1
Russian Federal Space Agency (ROSCOSMOS)               1
CAS Space                                              1
European Space Agency                                  1
Virgin Orbit                                           1
Arianespace                                            1
Korea Aerospace Research Institute                     1
Astra Space                                            1
Name: launch_service_provider.name, dtype: int64

In [22]:
df_better["window_start"]

0     2022-08-31T05:40:10Z
1     2022-08-28T03:41:20Z
2     2022-08-24T02:53:00Z
3     2022-08-23T02:24:00Z
4     2022-08-19T19:21:20Z
5     2022-08-19T17:26:00Z
6     2022-08-12T21:40:20Z
7     2022-08-10T04:43:00Z
8     2022-08-10T02:14:00Z
9     2022-08-09T05:52:38Z
10    2022-08-09T03:56:00Z
11    2022-08-07T03:48:00Z
12    2022-08-04T23:08:00Z
13    2022-08-04T15:52:00Z
14    2022-08-04T13:30:00Z
15    2022-08-04T10:29:00Z
16    2022-08-04T05:00:00Z
17    2022-08-04T03:00:00Z
18    2022-08-01T20:00:00Z
19    2022-07-29T13:16:00Z
20    2022-07-27T04:00:00Z
21    2022-07-24T13:38:00Z
22    2022-07-24T06:12:00Z
23    2022-07-22T17:39:40Z
24    2022-07-17T14:20:00Z
25    2022-07-15T22:43:00Z
26    2022-07-15T00:44:20Z
27    2022-07-13T13:13:17Z
28    2022-07-13T05:00:00Z
29    2022-07-12T16:19:00Z
30    2022-07-11T10:57:00Z
31    2022-07-11T01:39:40Z
32    2022-07-07T13:11:00Z
33    2022-07-07T08:00:00Z
34    2022-07-06T13:54:00Z
35    2022-07-02T05:00:00Z
36    2022-07-01T22:00:00Z
37    2022-06-30T12:32:00Z
38    2022-06-29T21:04:00Z
39    2022-06-28T09:55:52Z
40    2022-06-27T15:37:00Z
41    2022-06-26T13:14:00Z
42    2022-06-23T02:11:00Z
43    2022-06-22T21:03:00Z
44    2022-06-22T02:08:00Z
45    2022-06-21T06:00:00Z
46    2022-06-19T04:27:00Z
47    2022-06-18T14:19:00Z
48    2022-06-17T16:09:20Z
49    2022-06-12T16:00:00Z
Name: window_start, dtype: object