In [16]:
import requests

def get_previous_launches(limit=100, offset=0):

    params = {
        "format": "json",
        "limit": limit,
        "offset": offset
    }
    url = "https://ll.thespacedevs.com/2.2.0/launch/previous/"

    response = requests.get(url, params=params)
    response.raise_for_status()
    data = response.json()

    return data

In [8]:
data = get_previous_launches(limit=100, offset=100)

In [13]:
import pandas as pd
df = pd.DataFrame(data["results"])
df.head()

,id,url,slug,name,status,last_updated,net,window_end,window_start,probability,...,infographic,program,orbital_launch_attempt_count,location_launch_attempt_count,pad_launch_attempt_count,agency_launch_attempt_count,orbital_launch_attempt_count_year,location_launch_attempt_count_year,pad_launch_attempt_count_year,agency_launch_attempt_count_year
0,576b04d6-1962-4bda-b43f-0da4138d192d,https://ll.thespacedevs.com/2.2.0/launch/576b0...,falcon-9-block-5-starlink-group-3-4,Falcon 9 Block 5 | Starlink Group 3-4,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:48:14Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,NaN,...,None,[],6279.0,702,96,191,115.0,9,9,39
1,67158b3c-201d-4450-be8a-990010c05b40,https://ll.thespacedevs.com/2.2.0/launch/67158...,falcon-9-block-5-starlink-group-4-23,Falcon 9 Block 5 | Starlink Group 4-23,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:53:41Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,60.0,...,None,[],6278.0,855,151,190,114.0,25,18,38
2,a0d642d9-19ea-487d-8821-40c6f83e712f,https://ll.thespacedevs.com/2.2.0/launch/a0d64...,long-march-2d-beijing-3b,Long March 2D | Beijing-3B,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T01:15:19Z,2022-08-24T03:01:00Z,2022-08-24T03:31:00Z,2022-08-24T02:53:00Z,NaN,...,None,[],6277.0,112,37,382,113.0,8,6,29
3,5bdce7b6-0b8f-4df3-979e-3560654f9fe2,https://ll.thespacedevs.com/2.2.0/launch/5bdce...,kuaizhou-1a-chuangxin-16,Kuaizhou-1A | Chuangxin-16,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:49:40Z,2022-08-23T02:36:00Z,2022-08-23T02:44:00Z,2022-08-23T02:24:00Z,NaN,...,None,[],6276.0,175,21,17,112.0,8,1,2
4,4a114237-e8c5-4248-8d30-7a9026b86430,https://ll.thespacedevs.com/2.2.0/launch/4a114...,falcon-9-block-5-starlink-group-4-27,Falcon 9 Block 5 | Starlink Group 4-27,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:43:32Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,70.0,...,None,[],6275.0,854,150,189,111.0,24,17,37

In [15]:
data["next"]

'https://ll.thespacedevs.com/2.2.0/launch/previous/?format=json&limit=100&offset=100'

In [17]:
all_results = []
for offset in range(0, 200, 100):
    data = get_previous_launches(limit=100, offset=offset)
    df = pd.DataFrame(data["results"])
    all_results.append(df)

big_df = pd.concat(all_results)

In [21]:
big_df

,id,url,slug,name,status,last_updated,net,window_end,window_start,probability,...,infographic,program,orbital_launch_attempt_count,location_launch_attempt_count,pad_launch_attempt_count,agency_launch_attempt_count,orbital_launch_attempt_count_year,location_launch_attempt_count_year,pad_launch_attempt_count_year,agency_launch_attempt_count_year
0,576b04d6-1962-4bda-b43f-0da4138d192d,https://ll.thespacedevs.com/2.2.0/launch/576b0...,falcon-9-block-5-starlink-group-3-4,Falcon 9 Block 5 | Starlink Group 3-4,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:48:14Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,2022-08-31T05:40:10Z,NaN,...,None,[],6279.0,702,96,191,115.0,9,9,39
1,67158b3c-201d-4450-be8a-990010c05b40,https://ll.thespacedevs.com/2.2.0/launch/67158...,falcon-9-block-5-starlink-group-4-23,Falcon 9 Block 5 | Starlink Group 4-23,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:53:41Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,2022-08-28T03:41:20Z,60.0,...,None,[],6278.0,855,151,190,114.0,25,18,38
2,a0d642d9-19ea-487d-8821-40c6f83e712f,https://ll.thespacedevs.com/2.2.0/launch/a0d64...,long-march-2d-beijing-3b,Long March 2D | Beijing-3B,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T01:15:19Z,2022-08-24T03:01:00Z,2022-08-24T03:31:00Z,2022-08-24T02:53:00Z,NaN,...,None,[],6277.0,112,37,382,113.0,8,6,29
3,5bdce7b6-0b8f-4df3-979e-3560654f9fe2,https://ll.thespacedevs.com/2.2.0/launch/5bdce...,kuaizhou-1a-chuangxin-16,Kuaizhou-1A | Chuangxin-16,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:49:40Z,2022-08-23T02:36:00Z,2022-08-23T02:44:00Z,2022-08-23T02:24:00Z,NaN,...,None,[],6276.0,175,21,17,112.0,8,1,2
4,4a114237-e8c5-4248-8d30-7a9026b86430,https://ll.thespacedevs.com/2.2.0/launch/4a114...,falcon-9-block-5-starlink-group-4-27,Falcon 9 Block 5 | Starlink Group 4-27,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:43:32Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,2022-08-19T19:21:20Z,70.0,...,None,[],6275.0,854,150,189,111.0,24,17,37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1a899b5c-31f9-4aa8-baa9-4f88eb5d789e,https://ll.thespacedevs.com/2.2.0/launch/1a899...,long-march-2d-tianhui-1-04,Long March 2D | Tianhui-1-04,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:27:05Z,2021-07-29T04:01:00Z,2021-07-29T04:21:00Z,2021-07-29T03:45:00Z,NaN,...,None,[],6095.0,144,71,329,80.0,9,7,24
96,27fd5d5a-6935-4697-98b4-b409f029e2f0,https://ll.thespacedevs.com/2.2.0/launch/27fd5...,proton-m-mlm-nauka,Proton-M | MLM Nauka,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:31:54Z,2021-07-21T14:58:25Z,2021-07-21T14:58:25Z,2021-07-21T14:58:25Z,-1.0,...,None,[],6094.0,1521,165,187,79.0,6,1,1
97,d0f9cb4e-8efe-4b70-a675-3f087acd6f74,https://ll.thespacedevs.com/2.2.0/launch/d0f9c...,new-shepard-ns-16,New Shepard | NS-16,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T01:32:51Z,2021-07-20T13:12:00Z,2021-07-20T13:12:00Z,2021-07-20T13:12:00Z,NaN,...,https://nyc3.digitaloceanspaces.com/spacelaunc...,[],NaN,16,16,16,78.0,3,3,3
98,24cfdd1c-d150-4da3-8030-d11b2e0fc694,https://ll.thespacedevs.com/2.2.0/launch/24cfd...,long-march-2c-yaogan-30-10,Long March 2C | Yaogan-30-10,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:30:48Z,2021-07-19T00:19:00Z,2021-07-19T00:26:00Z,2021-07-19T00:08:00Z,NaN,...,None,[],6093.0,158,55,328,77.0,7,4,23
99,3c0231ab-5764-4622-b4eb-50eff30ea8be,https://ll.thespacedevs.com/2.2.0/launch/3c023...,spaceshiptwo-vss-unity-22,SpaceShipTwo | VSS Unity 22,"{'id': 3, 'name': 'Launch Successful', 'abbrev...",2022-09-01T00:39:19Z,2021-07-11T15:25:30Z,2021-07-11T15:25:30Z,2021-07-11T15:25:30Z,NaN,...,https://nyc3.digitaloceanspaces.com/spacelaunc...,[],NaN,77,5,58,76.0,2,2,2

In [31]:
pd.DataFrame(data["results"])["status"][2]

{'id': 4,
 'name': 'Launch Failure',
 'abbrev': 'Failure',
 'description': 'Either the launch vehicle did not reach orbit, or the payload(s) failed to separate.'}

In [30]:
pd.json_normalize(data["results"])["status.name"]

0     Launch Successful
1     Launch Successful
2        Launch Failure
3     Launch Successful
4     Launch Successful
            ...
95    Launch Successful
96    Launch Successful
97    Launch Successful
98    Launch Successful
99    Launch Successful
Name: status.name, Length: 100, dtype: object